.AdminPage {
    // add rules here here, like so:
    background-color: transparent;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "LeftBox RightBox";

    #LeftBox{
        grid-area: LeftBox;
    }
    #RightBox{
        grid-area: RightBox;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 
        "TopBox"
        "BottomBox";

        #TopBox{
            grid-area: TopBox;
        }
        #BottomBox{
            grid-area: BottomBox;
        }
    }


    // &_element {
        // an example of how a BEM element would look like (feel free to rename or remove)
        // add element rules here
    // }

    // &___modifier {
        // an example of how a BEM modifier would look like (feel free to rename or remove)
        // add modifier rules here
    // }
}