.App {
    display: flex;
    height: 100vh;
    overflow: hidden;
    &_editor {
        height: 100%;
        flex: 2;
    }
    &_result {
        height: 100%;
        overflow: auto;
        background-color: #1e1e1e;
        white-space: pre-line;
        color: #d4d4d4;
        font-family: 'Monaco', monospace;
        flex: 1;
    }
}